DEPLOYER_PRIVATE_KEY=0x

ETHERSCAN_API_KEY=

AGREEMENT_SALT=

NUM_RECIPIENTS=1

# X = [0..NUM_RECIPIENTS)
RECIPIENT_NAME_X="Alice"
RECIPIENT_ADDR_X=0x
RECIPIENT_AGREEMENT_URI_X=ipfs://
RECIPIENT_TEMPLATE_ID_X=
RECIPIENT_TEMPLATE_NAME_X=""
RECIPIENT_SAFE_DELEGATE_SIGNATURE_X=0x
