# TODO (1) fill in your deployer private key
DEPLOYER_PRIVATE_KEY=

# TODO (2) Update number of grantees
NUM_GRANTEES=2

# GRANTEE_CONTROLLER_TYPE:
# - 0: without recipient override (grantee can specify their desired recipient addresses)
# - 1: with recipient override (authority overrides all grantees' recipient address)

# Instead of the commonly-used "hire date", MetaVesT's vesting start time is defined as "when the cliff happens".
# Ex. 10000 token (18-decimals) grants vesting over 4 years, hired on 2025/01/01 with a 6-month vesting cliff, unlock over 1 year (unlock start time TBD)
# Parameters may look like the example below:

GRANTEE_ADDR_0=0x48d206948C366396a86A449DdD085FDbfC280B4b # grantee EOA (grantee must use this account to send txs to the grant smart contract)
GRANTEE_AMOUNT_0=10000000000000000000000 # 10000 token
GRANTEE_VESTING_START_TIME_0=1751328000 # 2025/07/01 = 6 months after hired date
GRANTEE_VESTING_CLIFF_CREDIT_0=1250000000000000000000 # (10000 * 6 / 48) * 1e18
GRANTEE_VESTING_RATE_0=79274479959411 # 10000e18 // (4 * 365 * 24 * 3600)
GRANTEE_UNLOCKING_CLIFF_CREDIT_0=0
GRANTEE_UNLOCK_RATE_0=317097919837645 # 10000e18 // (1 * 365 * 24 * 3600)
GRANTEE_CONTROLLER_TYPE_0=0

# Ex2. 20000 token (18-decimals) grants vesting over 4 years, hired on 2024/10/01 with a 6-month vesting cliff, unlock over 1 year (unlock start time TBD)
GRANTEE_ADDR_1=0x5ff4e90Efa2B88cf3cA92D63d244a78a88219Abf # grantee EOA (grantee must use this account to send txs to the grant smart contract)
GRANTEE_AMOUNT_1=20000000000000000000000 # 20000 token (18-decimals)
GRANTEE_VESTING_START_TIME_1=1743465600 # 2025/04/01 = 6 months after hired date
GRANTEE_VESTING_CLIFF_CREDIT_1=2500000000000000000000 # (20000 * 6 / 48) * 1e18
GRANTEE_VESTING_RATE_1=158548959918822 # 20000e18 // (4 * 365 * 24 * 3600)
GRANTEE_UNLOCKING_CLIFF_CREDIT_1=0
GRANTEE_UNLOCK_RATE_1=634195839675291 # 20000e18 // (1 * 365 * 24 * 3600)
GRANTEE_CONTROLLER_TYPE_1=1

# TODO (3) Update the above grantee parameters as needed
